<svg:g [attr.transform]="'translate(' + node.x + ',' + node.y + ')'">
    <svg:g>
        <svg:circle [ngClass]="'places'" cx="0" cy="0" r="20" [ngStyle]="{'fill': node.color}" (click)="select($event)">
        </svg:circle>        
        <polygon *ngIf="node.hasResearchStation" points="10,5 0,20 0,30 20,30 20,20 " class="research-station" />
        <svg:g [app-disease-cube]="node.cubes"></svg:g>
        
    </svg:g>
    <svg:text [ngClass]="'countryName'" y="-30" x="-50">
        {{node.name}}
    </svg:text>
</svg:g>