.hidden {
  display: none;
}

.show {
  display: flex;
}

#modal-container {
  position: fixed;
  top: 300px;
  left: 25%;
  width: 50%;
  height: 50%;
  background: white;
  text-align: center;
  box-shadow: 0px 0px 2px 1px black;
  z-index: 100;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
