.card
    height 75px
    border solid 1px #808080
    border-radius 5px
    font-size 10pt
    text-align center
    min-width 100px
    width 9%
.unselected
    margin-top: 30px
.selected
    margin-top: 0px
.card-text
    background-color white
    font-color black
    font-weight bold
    margin-top 5px
    margin-left 5px
    margin-right 5px
.hand
    display flex