<svg:rect [ngClass]="'disease--cube ' + item " *ngFor="let item of blue" [attr.x]="25"
    style="fill: blue" width="20" height="20"></svg:rect>
<svg:rect [ngClass]="'disease--cube ' + item " *ngFor="let item of red" [attr.x]="25"
    style="fill: red" width="20" height="20"></svg:rect>
<svg:rect [ngClass]="'disease--cube ' + item " *ngFor="let item of black" [attr.x]="25"
    style="fill: black" width="20" height="20"></svg:rect>
<svg:rect [ngClass]="'disease--cube ' + item " *ngFor="let item of yellow" [attr.x]="25"
    style="fill: yellow" width="20" height="20"></svg:rect>
<!---
<svg:rect [ngClass]="'disease--cube orbit '" *ngFor="let item of red" 
[attr.x]="item.x" [attr.y]="item.y" style="fill: red" width="20" height="20"></svg:rect>
<svg:rect [ngClass]="'disease--cube orbit '" *ngFor="let item of black" 
[attr.x]="item.x" [attr.y]="item.y" style="fill: black" width="20" height="20"></svg:rect>
<svg:rect [ngClass]="'disease--cube orbit '" *ngFor="let item of yellow" 
[attr.x]="item.x" [attr.y]="item.y" style="fill: yellow" width="20" height="20"></svg:rect>-->