.disease--cube
    animation-duration: 4s

for i in 1..9
    @keyframes animate--orbit-{i}-0
        0%
            transform rotate( 0 deg)
        100% 
            transform rotate(-360deg)
    .orbit-{i}-0
        animation-name 'animate--orbit-' + i + '-0'
        animation-timing-function linear
        animation-iteration-count infinite
    for j in 1..i
        @keyframes animate--orbit-{i}-{j}
            0%
                transform rotate( unit(360/i * j, deg))
            100% 
                transform rotate( unit(-360+(360/i*j ), deg))
        .orbit-{i}-{j}
            animation-name 'animate--orbit-' + i + '-' + j
            animation-timing-function linear
            animation-iteration-count infinite