#map-holder 
    width 75vw
    height 100vh
svg 
    rect 
        fill #2A2C39
.landmass 
    fill #d0d0d0
    stroke #2A2C39
    stroke-width 1
.country-on 
    fill #4B5358
.countryLabel 
    display block
.countryName 
    fill #FFFAFF
.countryLabelBg 
    fill #30BCED
.places 
    stroke #fff
    stroke-width 3px
.link
    stroke #777
    stroke-width 10px
