#main-holder
    display flex
#map-holder 
    width 80vw
    height 70vh
#player-holder
    width 20vw
    height 70vh
#log
    height 500px
    width 215px
    overflow-y auto
    border-width 5px
    border-style solid
#bottom-holder
    display flex
#bottom-left
    width 50%
#bottom-middle
    width 10%
#bottom-right
    width 40%
.background
    fill #2A2C39
.landmass 
    fill #8c8c8d
    stroke #2A2C39
    stroke-width 1