<div id="main-holder">
    <div id="map-holder">
        <svg>
            <g>
                <rect [ngClass]="'background'" [attr.width]="w" [attr.height]="h" x="0" y="0"></rect>
                <path [attr.d]="path(feature)" *ngFor="let feature of features" [ngClass]="'landmass'"></path>
                <g [app-link]="link" *ngFor="let link of links"></g>
                <g [app-node]="node" *ngFor="let node of nodes" (selected)="onSelectedNode($event)"
                    [isMoving]="isMoving"></g>
            </g>
        </svg>
    </div>
    <div id="player-holder">
        <ng-container *ngIf="hasStarted()">
            <div *ngFor="let player of game.players">
                Player {{ player.id }}
                <app-player-hand [hand]="player.hand" [game]="game">
                </app-player-hand>
            </div>
        </ng-container>
    </div>
</div>
<button (click)="onStart()">Start Game</button>
<div *ngIf="hasStarted()">
    Player: {{game.player_index}}
    <br>
    Turns Left: {{game.turns_left}}
    <br>
    <button (click)="onMove()">{{ isMoving ? 'Cancel' : 'Move' }}</button>
    <button [disabled]="!game.can_build_research_station" (click)="onBuild()">Build A Research Station</button>
    <button [disabled]="!game.can_treat || isMoving" (click)="onTreat()">Treat Disease</button>
    <button [disabled]="(!game.can_give && !game.can_take) || isMoving" (click)="onShare()">Share Knowledge</button>
    <button [disabled]="!game.can_cure || isMoving" (click)="onDiscover()">Discover Cure</button>
    <button [disabled]="!canPass() || isMoving" (click)="onPass()">Pass Turn</button>
    <button [disabled]="!mustDiscard() || !discardEnough()" (click)="discardSelectedCards()">Discard Selected</button>
    <div *ngIf="mustDiscard()">YOU MUST DISCARD TO 7 CARDS</div>
    <div *ngIf="treatColorChoice">
        <div *ngFor="let cube of treatColorChoice">
            <button (click)="treat(cube)">
                Treat {{cube}}
            </button>
        </div>
    </div>
    <div>
        Player {{ game.player_index }}
        <app-player-hand [hand]="game.players[game.player_index].hand" [game]="game"
            (onSelect)="onSelectedCard($event)"></app-player-hand>
    </div>
</div>
<br>
<div>
    Outbreak Counter: {{ game.outbreak_counter }}
</div>
<div>
    Infection Rate: {{ game.infection_rate[game.infection_rate_index] }}
</div>
<div>
    Cubes:
    <ul>
        <li *ngFor="let color of objectKeys(game.cubes)">
            {{color + ' : ' + game.cubes[color]}}
        </li>
    </ul>
</div>
<div>
    Cured:
    <ul>
        <li *ngFor="let color of objectKeys(game.cured)">
            {{color + ' : ' + game.cured[color]}}
        </li>
    </ul>
</div>