#main-holder
    display flex
#map-holder 
    width 80vw
    height 70vh
#player-holder
    width 20vw
    height 70vh
.background
    fill #2A2C39
.landmass 
    fill #8c8c8d
    stroke #2A2C39
    stroke-width 1