<!--
<div id="main-holder">
  <div id="map-holder">
    <svg style="position:fixed; top:0; left:0; height:100%; width:100%">
      <g>
        <rect
          [ngClass]="'background'"
          [attr.width]="w"
          [attr.height]="h"
          x="0"
          y="0"
        ></rect>
        <path
          [attr.d]="path(feature)"
          *ngFor="let feature of features"
          [ngClass]="'landmass'"
        ></path>
        <g [app-link]="link" *ngFor="let link of links"></g>
        <g
          [app-node]="node"
          *ngFor="let node of nodes"
          (selected)="onSelectedNode($event)"
          [isMoving]="isMoving"
        ></g>
      </g>
    </svg>
  </div>
  <div id="player-holder">
    <ng-container *ngIf="hasStarted()">
      <div *ngFor="let player of game.players">
        <div [ngStyle]="{ background: bgColor(player.id), color: 'white' }">
          Player {{ player.id }} ({{ player.name }}) - {{ player.role }}
        </div>
        <app-player-hand [hand]="player.hand" [game]="game"> </app-player-hand>
      </div>
    </ng-container>
  </div>
</div>
<!---
<div id="bottom-holder">
  <div *ngIf="hasStarted()" id="bottom-left">
    <div>
      <ng-container *ngIf="game.player_index === player_index">
        
        <button
          *ngIf="isDispatcher()"
          [disabled]="cannotDoPrimaryAction() && !dispatcherMoveOtherPlayer"
          (click)="onDispatcherMove()"
        >
          {{ dispatcherMoveOtherPlayer ? "Cancel" : "Dispatcher Move" }}
        </button>
        
       
        
        
        
      </ng-container>
    </div>


    <br />
    <div *ngIf="player_name">
      <div
        *ngIf="!cureColorCards"
        [ngStyle]="{ background: bgColor(player_index) }"
      >
        <div style="color: white">
          Your ({{
            game.players[player_index].name +
              " - " +
              game.players[player_index].role
          }}) Hand
        </div>
        <app-player-hand
          [hand]="game.players[player_index].hand"
          [game]="game"
          (onSelect)="onSelectedCard($event)"
        ></app-player-hand>
      </div>
    </div>
  </div>
  <br />

  <div *ngIf="hasStarted()" id="bottom-log">
    <div id="log">
      Game Log:
      <ul>
        <li *ngFor="let item of game.log.slice().reverse()">
          {{ item }}
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="hasStarted()" id="bottom-right">
    <div>
      Infection Deck Faceup:
      <app-player-hand [hand]="game.faceup_deck" [game]="game">
      </app-player-hand>
    </div>
  </div>
</div>
-->
